.text-truncate-1,
.text-truncate-2,
.text-truncate-3,
.text-truncate-4,
.text-truncate-5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.text-truncate-1 {
    -webkit-line-clamp: 1;
}

.text-truncate-2 {
    -webkit-line-clamp: 2;
}

.text-truncate-3 {
    -webkit-line-clamp: 3;
}

.text-truncate-4 {
    -webkit-line-clamp: 4;
}

.text-truncate-5 {
    -webkit-line-clamp: 5;
}