@import "fontes.css";

/* Tamanho dos icones */


/* 
.card-title>.fas,
.card-title>.far {
    font-size: 1.75rem;
}

.card-title>.fas:hover,
.card-title>.far:hover {
    font-size: 2rem;
    color: blue;
}

.fas.topo,
.fab.topo,
.far.topo {
    font-size: 1.625rem;
} */